[submodule "thirdparty/nugget"]
	path = thirdparty/nugget
	url = https://github.com/pcsx-redux/nugget.git
[submodule "psyq_include_what_you_use"]
	path = psyq_include_what_you_use
	url = https://github.com/johnbaumann/psyq_include_what_you_use.git
